@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');


:root {
	--blue: #95e1d3;
	--darker-blue: #4ab39f;
	--orange: #da9000;
	--red: #ff0000;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	font-size: 15px;
	color: #333;
}

hr {
	display: block;
	border: 0;
	width: 100%;
	background-color: #95e1d3;
	height: 1px;
	margin: 40px 0;
}

.page {
	overflow: hidden;
}

/*Intro*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	min-height: 820px;
	position: relative;

	background-color: var(--orange);
	background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
	/*	-webkit-background-size: cover;
	background-attachment: 	cover;*/
}

.intro__inner {
	width: 100%;
	/*	ограничиваем ширину, чтобы текст переносился на новую строку*/
	max-width: 880px;
	/*	выравниваем элемент х1 по центру данного блока*/
	margin: 0 auto;
	text-align: center;
}

.intro__suptitle {
	font-size: 72px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
	margin-bottom: 20px;
}

.intro__title {
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}

.intro__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #fff;
	margin: 60px auto;
}

/* Container */
.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

/*Header*/

.header {
	width: 100%;
	padding-top: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000
}

.header.fixed {
	background-color: #da9000;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	transform: translate3d(0, 0, 0);
	box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.header.active {
	background-color: #da9000;
}


.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

/* nav */
.nav-toggle {
	display: none;
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
	transition: color .1s linear;
}

.nav__link {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	background-color: yellow;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	/*	display: none;*/
	transition: opacity .1s linear;

}

.nav__link.active {
	color: yellow;
}

.nav__link:hover {
	color: yellow;
}

.nav__link:hover:after,
.nav__link.active:after {
	opacity: 1;
}


.nav-toggle {
	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 1;
	width: 30px;
	padding: 10px 0;
	border: 0;
	background: none;
	cursor: pointer;

	font-size: 0;
	color: transparent;

}

.nav-toggle__item {
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.nav-toggle.active .nav-toggle__item {
	background: none;
}


.nav-toggle.active .nav-toggle__item::before {
	transform-origin: left top;
	transform: rotate(45deg);
}

.nav-toggle.active .nav-toggle__item::after {
	transform-origin: left bottom;
	transform: rotate(-45deg);
}

.nav-toggle__item::before,
.nav-toggle__item::after {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	background-color: #fff;
	left: 0;
	z-index: 1;
}

.nav-toggle__item::before {
	top: -8px;
}

.nav-toggle__item::after {
	bottom: -8px;
}

/*Button*/

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;

	border: 3px solid #fff;

	color: #fff;
	font-size: 14px;
	font-weight: 700;

	text-transform: uppercase;
	text-decoration: none;
	/*	добавляет плавность, и можно через запятую для нескольких атрибутов задать*/
	transition: background 0.2s linear, color .1s linear;
}

.btn:hover {
	background-color: #fff;
	color: #333;

}

/*Slider*/

/*общий блок на всю ширину*/
/*ширину внутри ограничивает .контейнер*/
.slider {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

/*для выравнивания элементов внутри .контейнер*/
.slider__inner {
	display: flex;
	justify-content: space-between;
}

.slider__item {
	width: 23%;
	padding: 20px 0;
	position: relative;

	border-top: 3px solid #fff;
	opacity: .7;

	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}

.slider__item.active {
	opacity: 1;
}

.slider__item.active:before {
	content: "";
	width: 70px;
	height: 3px;
	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
	background-color: #e93535;
}

.slider__numbers {
	font-size: 24px;
	font-weight: 700;
}

/*Section*/

.section {
	padding: 80px 0;
	text-align: center;
}

.section--devices {
	background: url("../images/devices-bg.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 0;
	margin-bottom: 40px;
}

.section--grey {
	background-color: #f8f8f8;
}

.section--clients {
	background: #f8f8f8 url("../images/clients-bg.jpg") center no-repeat;
}

.section--map {
	background: #e6e6e6 url("../images/map-bg.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 40px 0;
}

.section__header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 50px;
}

.section__suptitle {
	font-size: 24px;
	color: #333;
	font-family: 'Kaushan Script', cursive;
}

.section__title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.section__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;
	background-color: orange;
}

.section__text {
	font-size: 15px;
	color: #999;
	font-family: 'Roboto', sans-serif;
}

/* card */

.card {
	margin-top: 80px -15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card__item {
	width: 33.333333%;
	padding: 0 15px;
	/* opacity: 1; */
}

.card__inner {
	position: relative;
	background-color: #95e1d3;
}

.card__image {
	background: linear-gradient(to bottom, #da9000, #f1ff16);
	transition: transform .2s linear;
}

.card__item:hover .card__image {

	/*для сдваига картины
	трансформ плавнее смещается, лучше для производительности. лучше, чем лефт топ, где каждый пиксель прорисовывается, а здесь происходит трансформация, прописыовывается намного быстрее, от начальной точки до конечной, анимация плавнее. */
	transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__image img {
	opacity: 0.2;
}

.card__item:hover .card__text {
	opacity: 1;
}

.card__image img {
	display: block;
	max-width: 100%;
	height: auto;
	transition: opacity .1s linear;
}

.card__text {
	position: absolute;
	/* при позишн абсолют пишем ширину */
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	opacity: 0;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate(0, -50%, 0);
	transition: opacity .2 linear;

}

.card__info {
	margin-top: 20px;
	text-align: center;
}

.card__name {
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 5px;
}

.card__prof {
	color: #999;
	font-style: italic;
	font-family: 'Roboto', sans-serif font-weight: 300;
}

/* Statistics */

.statistics {
	background-color: #95e1d3;
}

.stat {
	display: flex;
	flex-wrap: wrap;
}

.stat__item {
	flex: 1 1 0;
	padding: 70px 25px;

	border-left: 1px solid #b5eae0;
	text-align: center;
	color: #fff;
}

.stat__item:last-child {
	border-right: 1px solid #b5eae0;
}

.stat__count {
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
}

.stat__text {
	font-size: 14px;
	text-transform: uppercase;
}


/* Services */

.services {
	display: flex;
	flex-wrap: wrap;
}

.services__item {
	width: 33.3333%;
	position: relative;
	padding: 0 35px 40px 85px;
	/* готовый блок секшн имеет текст алайн центр, поэтому правлю тут. текст рядом с иконками не отцентрирован в макете */
	text-align: left;
	margin-bottom: 40px;
}

.services__item--border {
	border-bottom: 1px solid var(--blue);
}

.services__img {
	position: absolute;
	top: 0;
	left: 30px;
	z-index: 1;
}

.services__title {
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

.services__text {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}


/* Devices */

.devices {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.devices__item {
	display: block;
	max-width: 100%;
	height: auto;
}

.devices__item--iphone {
	position: absolute;
	bottom: -80px;
	right: 0;
	z-index: 1;
}

/* What We Do */

.wedo {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.wedo__img {
	display: block;
	max-width: 100%;
	height: auto;
}

.wedo__item {
	width: 50%;
	padding: 0 15px;
}

/* Accordion */
.accordion {
	text-align: left;
}


.accordion__item {
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;

}

.accordion__item.active .accordion__content {
	display: block;
}

.accordion__header {
	border-bottom: 1px solid #transparent;
	padding: 15px 20px 15px 65px;
	position: relative;
	cursor: pointer;
}


.accordion__item.active .accordion__header {
	border-bottom: 1px solid #e5e5e5;
}


.accordion__header:after {
	content: "";
	display: block;
	/*	margin-top: 10px;*/
	width: 16px;
	height: 16px;

	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;

	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 1;
	transform: translateY(-50%) rotate(-225deg);
}

.accordion__item.active .accordion__header:after {
	transform: translateY(-50%) rotate(-45deg);
}

.accordion__icon {
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 1;

	transform: translateY(-50%);

}

.accordion__title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

.accordion__content {
	padding: 15px 20px;
	display: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #999;
	font-weight: 300;
}

/* Reviews */

.reviews {
	padding: 0 110px;
	position: relative;
}

.reviews__item {
	padding-left: 255px;
	position: relative;
	text-align: left;
}

.reviews__photo {
	display: block;
	width: 210px;
	height: 210px;

	border: 2px solid orange;
	border-radius: 50%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.reviews__photo.round {
	border-radius: 50%;
}

.reviews__text {
	margin-bottom: 15px;

	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	color: #999;
	line-height: 1.2;
}


.reviews__author {
	font-size: 24px;
	color: #333;
	font-family: 'Kaushan Script', cursive;
}

.reviews__author:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 3px;
	margin-right: 10px;
	background-color: orange;
}

.reviews__btn {
	font-size: 0;
	color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	z-index: 1;
}

.reviews__btn:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;

	right: 20px;
}

.reviews__btn--prev {
	transform: rotate(-45deg);
	left: 0;
}

.reviews__btn--next {
	transform: rotate(135deg);
	right: 0;
}

/* Social */

.social {
	display: flex;
	justify-content: center;
}

.social__item {
	padding: 12px 10px;
	width: 55px;
	height: 55px;
	background-color: yellow;
	border-right: 1px solid #f38181;
	text-decoration: none;
	color: #e93535;
	font-size: 30px;
	color: #f38181;
	line-height: 1;
	transition: background .1s linear, color .1s linear;

}

.social__item:last-child {
	border-right: 0;
}

.social__item:hover {
	background-color: #e93535;
	color: #fff;
}

/*logos section styles*/

.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -15px;
}

.logos__item {
	padding: 0 15px;
}

/* делаем картинки адаптивными */
.logos__img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Our works */

.works {
	display: flex;
}

.works__col {
	flex: 1 1 0;

}

.works__item {
	position: relative;
	background: linear-gradient(to bottom, #da9000, #f1ff16);
}

.works__item:hover .works__image {
	opacity: .1;
}

.works__image {
	max-width: 100%;
	height: auto;
	transition: opacity .2s linear;
	display: block;
	/*убирает отступ под картиной*/
}

.works__info {
	opacity: 0;
	width: 100%;
	padding: 0 15px;
	/* выравниваем текст по центру картины */
	position: absolute;
	top: 50%;
	left: 0;

	transform: translate3d(0, -50%);
	text-align: center;
	color: #fff;
	transition: opacity .2s linear;
}

.works__item:hover .works__info {
	opacity: 1;
}

.works__title {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 5px;
}

.works__text {
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	font-family: 'Roboto', serif;
}

/* Our clients */

.clients {
	display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
	/*для переноса двух блоков на новыую строку*/
}

.clients__item {
	text-align: left;
	width: 50%;
	padding: 0 45px 0 175px;
	position: relative;
	margin-bottom: 60px;
}

.clients__photo {
	position: absolute;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	top: 0;
	left: 40px;
	z-index: 1;
}

.clients__name {
	margin-bottom: 5px;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

.clients__prof {
	font-size: 15px;
	color: #333;
	font-weight: 300;
	font-style: italic;
	font-family: 'Roboto', serif;
}

.clients__text {
	font-size: 15px;
	color: #999;
}

.clients__text::before {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 15px 0;

	background-color: orange;
}


/* Blogs */

.blog {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: space-between;
}

.blog__item {
	width: 31%;
}

.blog__header {
	position: relative;
	margin-bottom: 10px;
}

.blog__photo {
	display: block;
	max-width: 100%;
	height: auto;
}

.blog__date {
	padding: 10px 20px;
	position: absolute;
	bottom: 10px;
	left: -10px;
	background-color: #95e1d3;
	color: #fff;
	font-size: 15px;
	font-style: italic;
	font-weight: 300;
}

.blog__content {
	margin-bottom: 10px;
}

.blog__date-day {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Roboto', serif;
	font-style: normal;
	line-height: 1;
}

.blog__title {
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 14px;
	color: #333;
}

.blog__title a {
	color: inherit;
	text-decoration: none;
}

.blog__title a:hover {
	text-decoration: underline;
}

.blog__text {
	font-size: 15px;
	font-family: 'Roboto', serif;
	color: #999;
}

.blog__footer {
	padding-top: 14px;
	border-top: 1px solid #e5e5e5;

	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	font-family: 'Roboto', serif;
}

.blog-stat__item {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.blog-stat__item i {
	color: #95e1d3
}


/* Map */

.map__title {
	color: #e93535;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.map__title::after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 15px auto 0;
	background-color: orange;
}

.map__title a {
	color: #e93535;
	text-decoration: none;
}

.map__title a:hover {
	text-decoration: underline;
}


/* Footer */

.footer {
	padding-top: 65px;
	background-color: #f8f8f8;
}

.footer__logo {
	font-size: 46px;
	font-weight: 700;
	color: #ccc;
	margin-bottom: 30px;
}

.footer__text {
	font-size: 15px;
	color: #999;
	text-align: left;
	margin-bottom: 30px;
}

.footer_social {
	margin-bottom: 25px;
}


.footer_social-header {
	font-size: 14px;
	color: #000;

	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
}

.footer_social-header b {
	font-size: 18px;
}

.footer_social-content {
	padding-top: 15px;
	font-size: 15px;
	color: #999;
	font-style: italic;
	font-weight: 300;
	font-family: 'Roboto', serif;
}

.footer_social-content a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	font-size: 18px;
	color: #95e1d3;
	transition: color .2s linear;
}

.footer_social-content a:hover {
	color: #4ab39f;
}

.footer__inner {
	padding-bottom: 65px;
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
}

/* footer col */

.footer__col {
	padding: 0 15px;
}

.footer__col--first {
	width: 40%;
}

.footer__col--second {
	width: 29%;
}

.footer__col--third {
	width: 22%;
}

.footer__title {
	margin: 30px 0;

	text-transform: uppercase;
	color: #333;
	font-size: 14px;
}

/* Blogs */

.blogs__item {
	display: flex;
	align-items: center;

	margin-bottom: 30px;
}

.blogs__image {
	width: 120px;
	height: 80px;
}

.blogs__content {
	padding-left: 20px;
}

.blogs__title {
	color: #333;
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
}

.blogs__date {
	font-size: 13px;
	color: #999;
	font-style: italic;
	font-weight: 300;
	font-family: 'Roboto', serif;
}

.blogs__title:hover {
	text-decoration: underline;
}

/* Instagram */

.instagram {
	display: flex;
	flex-wrap: wrap;
	/* для переноса элементов на новую строку (для отображения плиткой, а не одной строкой) */
	justify-content: space-between;

}

.instagram__item {
	width: 33%;
	border-bottom: 1px solid #fff;
}

.instagram__item img {
	display: block;
	transition: scale .2s linear;
	max-width: 100%;
	height: auto;
}

.instagram__item img:hover {
	scale: 1.1;
}

/* subscribe */

.subscribe {
	width: 100%;
	max-width: 380px;
	display: flex;
}

.subscribe__input {
	outline: none;

	width: 60%;
	height: 40px;
	background: #fff;
	border: 1px solid #e7e7e7;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	font-family: 'Roboto', serif;
	padding: 12px;
	line-height: 1.1;
	color: #ccc;
	border-right: 0;
}


.subscribe__input::placeholder {
	color: #ccc;
}

.subscribe__btn {
	width: 40%;
	height: 40px;
	background-color: #95e1d3;
	border: none;
	cursor: pointer;
	color: #fff;
	font-family: 'Roboto', serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 12px 30px;
	line-height: 1.1;
	transition: background 0.2s linear;
}

.subscribe__btn:hover {
	background-color: var(--darker-blue);
}

.subscribe__input:focus,
.subscribe__btn:focus {
	outline: none;
	border-color: var(--blue);
}

.copyright {
	padding: 20px 0;
	border-top: 1px solid #e5e5e5;
	text-align: center;
	color: #999;
	font-size: 14px;
	font-weight: 300;
}

.copyright span {
	color: var(--red);
}


/* ===Media=== */

/* Десктоп */
@media (max-width: 1230px) {

	/* Intro */
	.intro__title {
		font-size: 120px;
	}

	.intro__suptitle {
		font-size: 52px;
	}

	/* reviews */

	.reviews__text {
		font-size: 20px;
	}

}

/* Планшет альбом */

@media (max-width: 990px) {

	/* Intro */
	.intro__title {
		font-size: 80px;
	}

	.intro__suptitle {
		font-size: 32px;
	}

	/* статистика */

	.stat {
		justify-content: center;
	}


	.stat__item {
		flex: none;
		width: 33.3333%;
		padding: 30px 0;

		border: 0;
	}

	.stat__item:last-child {
		border-right: 0;
	}

	.services__item {
		width: 50%;
	}

	.services__item--border {
		border-bottom: 0;
	}

	/* reviews */

	.reviews {
		padding: 0 60px;
	}

	.reviews__photo {
		width: 150px;
		height: 150px;
	}

	.reviews__item {
		padding-left: 175px;
	}

	/* Clients */
	.clients {
		max-width: 600px;
		margin: 0 auto;
	}

	.clients__item {
		width: 100%;
		padding-right: 0;
	}

	.clients__item:last-child {
		margin-bottom: 0;
	}

	/* Footer */

	.footer__inner {
		flex-wrap: wrap;
	}

	.footer__col--first {
		width: 100%;
	}

	.footer__col--second,
	.footer__col--third {
		width: 50%;
	}

	/* instagram */

	.instagram {
		justify-content: flex-start;
		/* это чтобы убрать отступы между элементами плитки*/
	}


	.instagram__item {
		width: auto;
		/* это убирает плиточность */
		border: 1px solid #fff;
	}
}



/* Планшет 770*/

@media (max-width: 770px) {


	.intro {
		min-height: 650px;
	}

	.header {
		padding: 10px 0;
	}

	/* меню */
	.nav {
		display: none;
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;

		background-color: #da9000;

	}

	.nav__link {
		display: block;
		margin: 0;
		padding: 8px 20px;
		/* каждый пункт меню с новой строки */
	}

	.nav-toggle {
		display: block;
	}

	/* section */

	.section {
		padding: 40px 0;
	}


	.section--devices {
		padding-bottom: 0;
	}

	.card {
		margin-top: 50px;
		justify-content: center;
	}

	.card__item {
		width: 100%;
		max-width: 410px;
		margin-bottom: 30px;
	}

	.card__item:last-child {
		margin-bottom: 0;
	}

	/* slider */
	.slider__text {
		display: none;
	}

	.slider__item.active:before {
		width: 50%;
	}

	.services {
		justify-content: center;
	}

	.services__item {
		width: 100%;
		max-width: 400px;
		padding-left: 55px;
		padding-right: 0;
	}

	.services__img {
		left: 0;
	}

	/* wedo */

	.wedo__img {
		display: none;
	}

	.wedo__item {
		width: 100%;
	}

	/* Reviews */

	.reviews__photo {
		position: static;
		margin: 0 auto 20px;
	}

	.reviews__item {
		padding-left: 0;
	}

	.reviews__text {
		font-size: 16px;
	}

	.reviews__author {
		font-size: 20px;
	}

	/* our works */

	.works {
		flex-wrap: wrap;
	}

	.works__col {
		flex: none;
		width: 50%;
	}

	.blog {
		max-width: 380px;
		margin: 0 auto;
	}

	.blog__item {
		width: 100%;
	}

	.footer__col--second,
	.footer__col--third {
		width: 100%;
	}
}

/* слайдер на главной */


/* мобильный */

@media (max-width: 575px) {

	/* Intro */


	.intro__title {
		font-size: 40px;
	}

	.intro__suptitle {
		font-size: 22px;
	}

	/* section */

	.section__header {
		margin-bottom: 50px;
	}

	.section__suptitle {
		font-size: 20px;
	}

	.section__title {
		font-size: 24px;
	}

	.section__title:after {
		margin: 20px auto;
		text-align: center;
	}

	/* Stat */

	.stat__item {
		width: 100%;
		border-bottom: 1px solid #b5eae0;
	}

	.stat__item:last-child {
		border-bottom: 0;
	}

	.stat__count {
		font-size: 52px;
	}

	/* Devices */

	.devices {
		max-width: 320px;
	}

	.devices__item--iphone {
		width: 180px;
		bottom: -50px;
		right: -80px;
	}

	/* Reviews */

	.reviews {
		padding: 0;
	}

	.reviews__btn {
		top: 18%;
	}

	/* Logos */

	.logos {
		/* перенос картинок на новую строку */
		flex-wrap: wrap;
		/* центрируем элементы */
		justify-content: center;
	}

	.logos__item {
		/* перенос картин на новую строку */
		width: 50%;
		margin-bottom: 20px;
	}

	.logos__img {
		/* центрируем картинки */
		margin: 0 auto;
	}


	/* works */

	.works__col {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}

	.works__item {
		margin: 5px;
	}

	.works__item:last-child {
		margin-bottom: 0;
	}

	/* clients */

	.clients__photo {
		position: static;
	}

	.clients__item {
		padding-left: 0;
		text-align: center;
	}

	.clients__text::before {
		margin: 15px auto;
	}

	.section--clients {
		background: #f8f8f8
	}

	/* Subscribe */

	.subscribe {
		flex-wrap: wrap;
		max-width: none;
		/*элементы на всю ширину*/
	}

	.subscribe__input {
		border: 1px solid #e7e7e7;
		margin-bottom: 10px;
	}

	.subscribe__input,
	.subscribe__btn {
		width: 100%;
	}

	.footer_social-content {
		margin: 10px 0;
	}

	/* записи блога в футере */

	.blogs__image {
		width: 80px;
		height: 50px;
	}

	.blogs__title {
		font-size: 11px;
	}

	/* мобильный конец */
}